
<style>
    h3{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .edit{
        margin-left: 15%;
        padding-left: 5%;
        width: 60%;
    }
    form{
        margin-bottom: 30px;
    }
</style>
<app-header></app-header>
<app-nav></app-nav>
<div>
    <h3>Editar</h3>
    <div class="edit">
        <form (ngSubmit)="salvar()" [formGroup]="form">
            <div class="form-group">
              <label >Cidade</label>
              <input formControlName="cidade" type="string" class="form-control" id="city"  placeholder="cidade">
            </div>
            <div class="form-group">
              <label >Estado</label>
              <input formControlName="estado" type="string" class="form-control" id="state"  placeholder="Estado">
            </div>
            <div class="form-group">
              <label >País</label>
              <input formControlName="pais" type="string" class="form-control" id="country"  placeholder="País">
            </div>
            <div class="form-group">
              <label >Endereço do imóvel</label>
              <input formControlName="endereco" type="string" class="form-control" id="street" aria-describedby="emailHelp" placeholder="Seu endererço">
            </div>
            <div class="form-group">
              <label >cep</label>
              <input formControlName="cep" type="cep" class="form-control" id="name2" placeholder="cep">
            </div>
            <div class="form-group">
              <label>Área do imóvel</label>
              <input formControlName="area" type="string" class="form-control" id="exampleInputPassword3" placeholder="Área">
            </div>
            <div class="form-group">
              <label>Valor do imóvel</label>
              <input formControlName="valor" type="string" class="form-control" id="exampleInputPassword3" placeholder="Valor">
            </div>
            <div class="form-group">
              <label>telefone</label>
              <input formControlName="contato" type="string" class="form-control" id="exampleInputPassword3" placeholder="Valor">
            </div>
            <div class="form-group">
              <label>Imagens do imóvel</label>
              <input #imageInput type="file" accept="image/*" class="form-control" id="exampleInputPassword3" placeholder="Valor">
            </div>
            <button type="submit" class="btn btn-primary">salvar</button>
          </form>
    </div>
</div>